<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{%url 'index' %}">Django Blog</a><!--index name olan url'e git-->
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto"><!--"mr-auto" sola yatık yapar-->
            <li class="nav-item active">
              <a class="nav-link" href="{%url 'about' %}">About </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{%url 'article:articles' %}">Articles </a>
          </li>
            <li class="nav-item active">
                <a class="nav-link" href="/articles/allarticles">Archieve </a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto"><!--"ml-auto" sağa yatık yapar-->
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
              <a class="nav-link" href="{%url 'article:dashboard' %}">Dashboard </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="{%url 'user:logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item active">
              <a class="nav-link" href="{%url 'user:login' %}">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'user:register' %}">Register</a>
        </li>
          {% endif %}
          
          
            
            
            
          </ul>   
        </div>
      </nav>